{% extends 'base.html' %} {% block title %}Настройки{% endblock %} {% block extra_css %}
<style>
    .quests_container {
        width: 600px;
        height: 60px;
        transition: all .2s ease-in-out .1s;
        color: white;
        position: relative;
        display: block;
        font-family: Nunito+Sans;
        font-size: 30px;
        padding: 20px;
        background-color: #ff7f29;
        border-radius: 50px 0px 50px 0px;
        margin-top: 5px;
        border: 2px solid green;
        padding: 10px;
        text-align: center;
    }
    
    .quests_container:hover {
        color: red;
        transition: all .3s ease;
        transform: scale(1.06);
        background-color: white;
    }
    
    .quests_container:active {
        color: green;
        transition: all .02s ease;
        transform: scale(.96);
    }
    
    .main_container {
        position: relative;
        background-color: #0dffc1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px 10px;
        width: 55%;
        border: 3px solid white;
        border-radius: 50px 0px 50px 0px;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .messages {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px 10px;
        width: 75%;
        border: 3px solid white;
        border-radius: 50px 0px 50px 0px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .send {
        margin: 30px;
        width: 300px;
        height: 100px;
        transition: all .2s ease-in-out .1s;
        background-color: #a81fe7;
        color: white;
        font-size: 22px;
        padding: 20px;
        border-radius: 50px 0px 50px 0px;
        border: 2px solid green;
        padding: 10px;
        text-align: center;
    }
    
    .textarea {
        margin: 30px;
        width: 600px;
        height: 250px;
        border: 3px solid white;
        font-size: 20px;
    }
    
    .questions {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text_mess,
    .text {
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 100px;
        color: #a81fe7;
        font-family: Nunito Sans;
        font-size: 28px;
        text-align: left;
    }
    
    .text {
        color: #ff7f29;
        font-size: 35px;
    }
    
    input {
        height: 60px;
        width: 200px;
        font-size: 20px;
    }
    
    .textarea {
        margin: 30px;
        width: 60%;
        height: 250px;
        border: 3px solid white;
        font-size: 20px;
    }
    
    .check {
        width: 25px;
        background-color: #ff7f29;
    }
    
    .inline {
        margin-top: -60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .large {
        font-size: 30px;
    }
</style>
{% endblock %} {% block content %}
<div class="container">
    <form class="messages questions" action="{% url 'logic:change_password' %}" method="POST">
        {% csrf_token %}
        <input type="password" required placeholder="  Новый пароль" name="password">
        <button class="send" type="submit">Изменить пароль</button>
    </form>
    <hr>
    <form class="messages questions" action="{% url 'logic:leave_article' %}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="  Название вопроса" name="title"> <br>
        <textarea class="textarea" name="text" required="" placeholder="    Текст вопроса" cols="30" rows="10"></textarea>
        <div class="text">
            <h5>Тема:</h5>
        </div>
        {% for c in Topic.choices %}
        <div class="inline">
            <input class="check" name="topic" type="radio" value="{{ c.0 }}">
            <div class="text_mess">
                <h5>{{ c.1 }}</h5>
            </div>
        </div> {% endfor %}
        <div class="text">
            <h5>Комментарии:</h5>
        </div>
        <div class="inline">
            <input class="check" name="comments" type="radio" value="PU">
            <div class="text_mess">
                <h5>PUBLIC</h5>
            </div>
        </div>
        <div class="inline">
            <input class="check" name="comments" type="radio" value="PR" checked>
            <div class="text_mess">
                <h5>PRIVATE</h5>
            </div>
        </div>

        <div class="text">
            <h5>Доступ к вопросу:</h5>
        </div>
        <div class="inline">
            <input class="check" name="access" type="radio" value="PU">
            <div class="text_mess">
                <h5>PUBLIC</h5>
            </div>
        </div>
        <div class="inline">
            <input class="check" name="access" type="radio" value="PR" checked>
            <div class="text_mess">
                <h5>PRIVATE</h5>
            </div>
        </div>
        <button class="send" type="submit"> Продолжить создание вопроса </button>
    </form>
    <hr> {% if user.article_set.all %}
    <div class="text_mess large">
        <h3>Ваши вопросы:</h3>
    </div> {% for a in user.article_set.all %}
    <div>
        <a class="quests_container" href="{% url 'logic:detail_article' a.id %}">{{ a.title }} | {{ a.get_topic_display }} | {{ a.get_access_display }}</a>
    </div>
    {% endfor %} {% else %}
    <div>
        <a class="quests_container">Вопросы не найдены</a>
    </div>{% endif %}
</div>{% endblock %}