{% extends 'base.html' %} {% block title %} Стартовая {% endblock %} {% block extra_css %}
<style>
    .box_of_checkmark {
        visibility: hidden;
        position: absolute;
        top: 40%;
        left: 35%;
        border: 20px dashed #ff7f29;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: top;
    }
    
    .smail_with_tongue {
        background-image: url("https://i.pinimg.com/originals/2f/ab/1b/2fab1be7f595a58815389c0ff90ca1fb.png");
        width: 360px;
        height: 360px;
        background-size: cover;
    }
    
    .checkmark {
        visibility: hidden;
        position: absolute;
        display: inline-block;
        /*Add another block-level blank space*/
        content: '';
        display: block;
        /*Make it a small rectangle so the border will create an L-shape*/
        width: 130px;
        height: 300px;
        /*Add a white border on the bottom and left, creating that 'L' */
        border: solid green;
        border-width: 0 20px 20px 0;
        /*Rotate the L 45 degrees to turn it into a checkmark*/
        transform: rotate(45deg);
    }
</style>
{% endblock %} {% block content%}
<div class="box_of_checkmark" id="box_of_checkmark">
    <div class="checkmark" id="checkmark"></div>
    <div class="smail_with_tongue" id="smail_with_tongue"></div>
</div>
{% endblock %} {% block extra_js %}
<script>
    "use strict";

    function make_easter_egg_visible() {
        box_of_checkmark.style.visibility = 'visible';
    }

    setTimeout(
        make_easter_egg_visible,
        10000
    );

    box_of_checkmark.addEventListener('mouseover', function() {
        checkmark.style.visibility = 'visible';
        smail_with_tongue.style.visibility = 'hidden';
    });

    box_of_checkmark.addEventListener('mouseout', function() {
        checkmark.style.visibility = 'hidden';
        smail_with_tongue.style.visibility = 'visible';
    });
</script>
{% endblock %}